/* styles.css */
body {
    font-family: Arial, sans-serif;
   background-image: linear-gradient(to right, #DECBA4, #3E5151);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #2e3a53;
    background-image: linear-gradient(to right, #434343 0%, black 80%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.center-heading {
    text-align: center;
    color: #ebf6f5;
}

.translator-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-label {
    font-weight: bold;
    color:  #ebf6f5;
}

.form-textarea,
.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-textarea {
    resize: vertical;
}

.form-input {
    font-size: 16px;
}

.form-submit {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.form-submit:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.error {
    color: red;
    margin-top: 20px;
}


.form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}